<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p class="mb-4"><img src="/images/logo.png" alt="Image" class="img-fluid"></p>
                <p>

                    Deneysel Araştırmalar Uygulama ve Araştırma Merkezi
                    <br>
                    +90 352 207 66 66 / 24 400
                    <br>
                    dekam@erciyes.edu.tr

                </p>
                <p><a href="/">Detaylı Bilgi</a></p>
            </div>
            <div class="col-lg-3">
                <h3 class="footer-heading"><span>Kurumsal</span></h3>
                <ul class="list-unstyled">
                    <li><a href="/icerik/tarihce">Tarihçe</a></li>
                    <li><a href="/icerik/insan-kaynagi">İnsan Kaynağı</a></li>
                    <li><a href="/icerik/yonetim">Yönetim</a></li>
                    <li><a href="/icerik/hayvan-unitesi"> Hayvan Ünitesi</a></li>

                </ul>
            </div>
            <div class="col-lg-3">
                <h3 class="footer-heading"><span>Duyurular</span></h3>
                <ul class="list-unstyled">
                    <li><a href="/icerik/deney-hayvanlari-yonetmelik-ve-talimat-degisikligi-hk.">Deney Hayvanları Yönetmelik ve Talimat Değişikliği Hk.</a></li>
                    <li><a href="Deney Hayvanları Kullanım Sertifikası Eğitim Programı Hk."> Deney Hayvanları Kullanım Sertifikası Eğitim Programı Hk.</a></li>

                </ul>
            </div>
            <div class="col-lg-3">
                <h3 class="footer-heading"><span>İletişim</span></h3>
                <ul class="list-unstyled">
                    <li><a href="/iletisim">İletişim</a></li>

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="copyright">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır | <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib Teması</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>