<section class="site-section element-animate fadeInUp element-animated">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
                <div class="block-16">
                    <figure>
                        <img src="/images/dekam.png" alt="Dekam Bina" class="img-fluid">
                        <a href="https://vimeo.com/45830194" class="play-button popup-vimeo"><span class="ion-ios-play"></span></a>

                    </figure>
                </div>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="block-15">
                    <div class="heading">
                        <h2>Merkezimiz Hakkında </h2>
                    </div>
                    <div class="text mb-5">
                        Erciyes Üniversitesi Tıp Fakültesine bağlı bir merkez olarak; Hakan ÇETİNSAYA’nın (1976-1996) anısına, amcası
                        hayırsever işadamı Sayın Süleyman ÇETİNSAYA tarafından yaptırılan merkez 1997 tarihinde hizmete açılmıştır.
                    </div>
                    <p><a href="/icerik/tarihce" class="btn  reverse py-2 px-4 boxed-btn5">Detaylı Bilgi</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="news-updates">
    <div class="container">

        <div class="row">
            <div class="col-lg-9">
                <div class="section-heading">
                    <h2 class="text-black">Haberler &amp; Duyurular</h2>
                    <a href="#">Tüm Haberler</a>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="post-entry-big">
                            <a href="/icerik/dekam-bilim-gunleri" class="img-link"><img src="/images/Holistic-Veterinary-Medicine.jpg" alt="Image" class="img-fluid"></a>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">10 Ağustos 2020</a>
                                    <span class="mx-1">/</span>
                                    <a href="/icerik/dekam-bilim-gunleri">DEKAM Bilim Günleri</a>, <a href="#">Duyuru</a>
                                </div>
                                <h3 class="post-heading"><a href="/icerik/dekam-bilim-gunleri"> Flousifometri Prensipleri ve Kullanım Alanları</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-entry-big horizontal d-flex mb-4">
                            <a href="/icerik/seminer-duyurusu" class="img-link mr-4"><img src="images/blog_1.jpg" alt="Image" class="img-fluid"></a>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">06 Ağustos 2020</a>
                                    <span class="mx-1">/</span>
                                    <a href="#">Haber</a>, <a href="#">Duyuru</a>
                                </div>
                                <h3 class="post-heading"><a href="/icerik/seminer-duyurusu">Seminer Duyurusu</a></h3>
                            </div>
                        </div>

                        <div class="post-entry-big horizontal d-flex mb-4">
                            <a href="/icerik/deney-hayvanlari-yonetmelik-ve-talimat-degisikligi-hk." class="img-link mr-4"><img src="images/blog_2.jpg" alt="Image" class="img-fluid"></a>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">06 Ağustos 2020</a>
                                    <span class="mx-1">/</span>
                                    <a href="#">Haber</a>, <a href="#">Duyuru</a>
                                </div>
                                <h3 class="post-heading"><a href="/icerik/deney-hayvanlari-yonetmelik-ve-talimat-degisikligi-hk.">Deney Hayvanları Yönetmelik ve Talimat Değişikliği Hk.</a></h3>
                            </div>
                        </div>

                        <div class="post-entry-big horizontal d-flex mb-4">
                            <a href="/icerik/deney-hayvanlari-kullanim-sertifikasi-egitim-programi-hk." class="img-link mr-4"><img src="images/blog_1.jpg" alt="Image" class="img-fluid"></a>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">06 Ağustos 2020</a>
                                    <span class="mx-1">/</span>
                                    <a href="#">Haber</a>, <a href="#">Duyuru</a>
                                </div>
                                <h3 class="post-heading"><a href="/icerik/deney-hayvanlari-kullanim-sertifikasi-egitim-programi-hk.">Deney Hayvanları Kullanım Sertifikası Eğitim Programı Hk.</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="section-heading">
                    <h2 class="text-black">Videolarımız</h2>
                    <a href="#">Tüm Galeriler</a>
                </div>
                <a href="https://vimeo.com/45830194" class="video-1 mb-4" data-fancybox="" data-ratio="2">
                    <span class="play">
                        <span class="icon-play"></span>
                    </span>
                    <img src="images/course_5.jpg" alt="Image" class="img-fluid">
                </a>
                <a href="https://vimeo.com/45830194" class="video-1 mb-4" data-fancybox="" data-ratio="2">
                    <span class="play">
                        <span class="icon-play"></span>
                    </span>
                    <img src="images/course_5.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>


@*@await Html.PartialAsync("_Events")*@

<div class="section-bg style-1" style="background-image: url('images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-mortarboard"></span>
                <h3>Tıbbi Biyoloji Laboratuvarı</h3>
                <p>Tıbbi Biyoloji Laboratuvarında araştırmalar yapmaktayız</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-school-material"></span>
                <h3>Deney Hayvanları Laboratuvarı</h3>
                <p>
                    Deney Hayvanları Laboratuvarı araştırmalar yapmaktayız
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-library"></span>
                <h3>Sipariş ile online satış</h3>
                <p>
                 Yakında site üzerinden üye olarak deney hayvanı siparişi verebileceksiniz.
                </p>
            </div>
        </div>
    </div>
</div>