
    <!-- / photos from stocksnap.io -->
    <div class="owl-carousel" id="owlCarousel">
        <div class="slide">
            <img class="owl-item-bg" src="/images/slider/s1.jpg">
            <div class="slide-content">
                <div class="overlay"></div>

                <h2>
                    Üniversitemiz ERAGEM Merkezinde
                </h2>
                <p>
                    Hayvanlar Üzerinde COVİD-19 Aşısı Denemelerine Başlandı.
                </p>
            </div>
        </div>

   
        <div class="slide">
            <img class="owl-item-bg" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/QMA508CSJ4.jpg">
            <div class="slide-content">
                <div class="overlay"></div>
                <h3>Sed finibus malesuada</h3>
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Sed finibus malesuada sem sed placerat. Sed id neque mattis dui hendrerit mattis. Etiam ultrices varius risus.</p>
            </div>
        </div>

        <div class="slide">
            <img class="owl-item-bg" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/QJ82DCZS1A.jpg">
            <div class="slide-content">
                <div class="overlay"></div>
                <h3>euismod mauris pretium</h3>
                <h2>consectetur adipiscing elit</h2>
                <p>Nam in nulla varius, sagittis ipsum a, hendrerit nisi. Nulla aliquet ligula id sem eleifend, nec tempus nulla lacinia.</p>
            </div>
        </div>

        <div class="slide">
            <img class="owl-item-bg" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/IWWC5CHVYK.jpg">
            <div class="slide-content">
                <div class="overlay"></div>
                <h3>tempus nulla lacinia</h3>
                <h2>consequat felis nibh</h2>
                <p>In blandit lorem ut ante cursus pharetra. Nulla ultrices, metus vehicula tristique sagittis, lectus dui fermentum quam.</p>
            </div>
        </div>

        <div class="slide">
            <img class="owl-item-bg" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/5607D011AC.jpg">
            <div class="slide-content">
                <div class="overlay"></div>
                <h3>Nam consequat felis</h3>
                <h2>aliquet mi vestibulum</h2>
                <p>Maecenas euismod mauris pretium nibh vestibulum pellentesque. Sed porta malesuada viverra, Pellentesque egestas faucibus turpis.</p>
            </div>
        </div>

    </div>

