
    <!-- / photos from stocksnap.io -->
    <div class="owl-carousel" id="owlCarousel">
        <div class="slide">
            <a href="/icerik/deney-hayvanlari-yonetmelik-ve-talimat-degisikligi-hk.">
                <img class="owl-item-bg" src="/images/slider/s1.jpg">
                <div class="slide-content">
                    <div class="overlay"></div>
                    <h2>
                        Üniversitemiz ERAGEM Merkezinde
                    </h2>
                    <p>   Hayvanlar Üzerinde COVİD-19 Aşısı Denemelerine Başlandı.  </p>
                </div>
            </a>
        </div>


        <div class="slide">
            <a href="/icerik/deney-hayvanlari-kullanim-sertifikasi-egitim-programi-hk.">
                <img class="owl-item-bg" src="/images/medical-lab-science.jpeg">
                <div class="slide-content">
                    <div class="overlay"></div>
                    <h3>Flousifometri Prensipleri ve Kullanım Alanları</h3>
                    <p> Deneysel Araştırmalar Uygulama ve Araştırma Merkezi (DEKAM)</p>
                </div>
            </a>
        </div>

        <div class="slide">
            <a href="/icerik/deney-hayvanlari-kullanim-sertifikasi-egitim-programi-hk.">
                <img class="owl-item-bg" src="/images/dog-shots.jpg">
                <div class="slide-content">
                    <div class="overlay"></div>
                    <h3>Hayvan Aşıları test ediliyor</h3>

                </div>
            </a>
        </div>



    </div>

