
    <!-- / photos from stocksnap.io -->
    <div class="owl-carousel" id="owlCarousel">
        <div class="slide">
            <img class="owl-item-bg" src="/images/slider/s1.jpg">
            <div class="slide-content">
                <div class="overlay"></div>

                <h2>
                    Üniversitemiz ERAGEM Merkezinde
                </h2>
                <p>
                    Hayvanlar Üzerinde COVİD-19 Aşısı Denemelerine Başlandı.
                </p>
            </div>
        </div>


        <div class="slide">
            <img class="owl-item-bg" src="/images/medical-lab-science.jpeg">
            <div class="slide-content">
                <div class="overlay"></div>
                <h3>Flousifometri Prensipleri ve Kullanım Alanları</h3>
                <p>Düzenleyen: Deneysel Araştırmalar Uygulama ve Araştırma Merkezi (DEKAM)</p>
            </div>
        </div>

        <div class="slide">
            <img class="owl-item-bg" src="/images/dog-shots.jpg">
            <div class="slide-content">
                <div class="overlay"></div>
                <h3>Hayvan Aşıları test ediliyor</h3>
                <h2>consectetur adipiscing elit</h2>
                <p>Nam in nulla varius, sagittis ipsum a, hendrerit nisi. Nulla aliquet ligula id sem eleifend, nec tempus nulla lacinia.</p>
            </div>
        </div>



    </div>

