<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link href="~/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <div class="site-wrap">

        @await Html.PartialAsync("_Header_TopMenu")
        @await Html.PartialAsync("_Header")

        @RenderBody()




        <!-- Categories Widget -->
        @* @await Component.InvokeAsync("CategoryList")*@

        <!-- Side Widget -->
        @* @await Component.InvokeAsync("LastFiveBlog")*@
        @await Html.PartialAsync("_Footer")
    </div>
                <!-- .site-wrap -->
                <!-- loader -->
                @*<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#51be78" /></svg></div>*@

                <script src="~/lib/jquery/jquery.min.js"></script>
                <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
                <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
                <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>


                <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
                <script src="~/js/jquery-ui.js"></script>
                <script src="~/js/popper.min.js"></script>
                <script src="~/js/bootstrap.min.js"></script>
                <script src="~/js/owl.carousel.min.js"></script>
                <script src="~/js/jquery.stellar.min.js"></script>
                <script src="~/js/jquery.countdown.min.js"></script>
                <script src="~/js/bootstrap-datepicker.min.js"></script>
                <script src="~/js/jquery.easing.1.3.js"></script>
                <script src="~/js/aos.js"></script>
                <script src="~/js/jquery.fancybox.min.js"></script>
                <script src="~/js/jquery.sticky.js"></script>
                <script src="~/js/jquery.mb.YTPlayer.min.js"></script>




                <script src="~/js/main.js"></script>


                @RenderSection("JavaScript", false)
</body>
</html>