
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('images/bg_1.jpg')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">Resim Galerisi</h2>
                <p>
                Resim Galerisi

                </p>
            </div>
        </div>
    </div>
</div>

<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="index.html">Anasayfa</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">
            Resim Galerisi
        </span>
    </div>
</div>

<div class="container-fluid" style=" background: url(http://zurb.com/playground/uploads/upload/upload/87/wood-bg.jpg) repeat;">
    <div class="row" style="padding-top: 15px;">
        <div class="large-12 columns" style="overflow: visible">
            <ul class="polaroids large-block-grid-4 small-block-grid-2">
                <li>
                    <a href="https://www.flickr.com/photos/zurbinc/3971679981/" title="Yemek Daveti Resimleri ">
                        <img alt="Yemek Daveti Resimleri" src="https://d33wubrfki0l68.cloudfront.net/7b47ccb12a3b221295a3782149d93410590d1a08/91265/playground/uploads/upload/upload/192/image-01.jpg">
                    </a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/zurbinc/3985295842/" title="Deney Hayvanlarımız">
                        <img alt="Deney Hayvanlarımız" src="https://d33wubrfki0l68.cloudfront.net/b7711971f006689b3b7e0d5cc14f327375505f82/4cb59/playground/uploads/upload/upload/193/image-02.jpg">
                    </a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/zurbinc/3993123611/" title="Laboratuvarlar">
                        <img alt="Laboratuvarlar" src="https://d33wubrfki0l68.cloudfront.net/3f0f245d64264e8ebf4f97afdcabe1d13e640e4b/0e186/playground/uploads/upload/upload/194/image-03.jpg">
                    </a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/zurbinc/4001991326/" title="Evil Matt Coding">
                        <img alt="Evil Matt Coding" src="https://d33wubrfki0l68.cloudfront.net/13bedfebd9ef1d98001d3a8442ab5e7b17998c96/b6b67/playground/uploads/upload/upload/195/image-04.jpg">
                    </a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/zurbinc/4001992350/" title="Amanda Glares...">
                        <img alt="Amanda Glares..." src="https://d33wubrfki0l68.cloudfront.net/fb1d72ab3826fc2f8893724685dbd463fd175405/2bf94/playground/uploads/upload/upload/196/image-05.jpg">
                    </a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/zurbinc/4001229589/" title="Scribble scribble...">
                        <img alt="Scribbles" src="https://d33wubrfki0l68.cloudfront.net/accf50a8a5e4675e3fd947fd16d214a35b9ee94d/2efd4/playground/uploads/upload/upload/197/image-06.jpg">
                    </a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/zurbinc/3957026139/" title="The Dougernaut">
                        <img alt="The Dougernaut" src="https://d33wubrfki0l68.cloudfront.net/2289b84d7bd5e6b00c0e111d844713775525f63c/ee010/playground/uploads/upload/upload/198/image-07.jpg">
                    </a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/zurbinc/3428777148/" title="I See You!">
                        <img alt="I See You!" src="https://d33wubrfki0l68.cloudfront.net/accca6cffaae5b16a6d748aeb7fd9c6698287a8c/7522c/playground/uploads/upload/upload/199/image-08.jpg">
                    </a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/zurbinc/3799720274/" title="Rock Hard Balls">
                        <img alt="Rock Hard Balls" src="https://d33wubrfki0l68.cloudfront.net/76ac7d07367616d577b5378f9bf543dfdf231a12/e3790/playground/uploads/upload/upload/200/image-09.jpg">
                    </a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/zurbinc/3799719490/" title="Bocce Ball">
                        <img alt="Bocce Ball" src="https://d33wubrfki0l68.cloudfront.net/d130f0d6946edc9813f48078d798e50fcb68e392/12cbb/playground/uploads/upload/upload/201/image-10.jpg">
                    </a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/zurbinc/3888563172/" title="Boris &quot;Tatooine&quot;">
                        <img alt="Borris &quot;Tatooine&quot;" src="https://d33wubrfki0l68.cloudfront.net/60bb16458cf2869cf897bc6881cb934480a19110/57ad8/playground/uploads/upload/upload/202/image-11.jpg">
                    </a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/zurbinc/3427934527/" title="Sneakers &amp; Stilettos">
                        <img alt="Sneakers &amp;amp; Stilettos" src="https://d33wubrfki0l68.cloudfront.net/85a5e60e8ae2bf04195d55994890f286546a4aba/bef13/playground/uploads/upload/upload/203/image-12.jpg">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<style type="text/css">





    .project-header {
        margin-bottom: 1em;
    }

  @@media screen and (max-width: 767px) {
    .polaroids li:nth-child(n+5) {
      display: none;
    }
  }

    ul.polaroids li {
        display: inline;
    }

    ul.polaroids a {
        background: #fff;
        display: inline;
        float: left;
        margin: 0 0 27px 30px;
        width: auto;
        padding: 10px 10px 15px;
        text-align: center;
        font-family: "Marker Felt", sans-serif;
        text-decoration: none;
        color: #333;
        font-size: 18px;
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
        -webkit-transform: rotate(-2deg);
        -webkit-transition: -webkit-transform .15s linear;
        -moz-transform: rotate(-2deg);
    }

    ul.polaroids li {
        padding-left: 0;
    }

    @@media screen and (max-width: 768px) {
        ul.polaroids li a {
            margin-left: 0;
        }
    }

    ul.polaroids img {
        display: block;
        width: 190px;
        margin-bottom: 12px;
    }

    ul.polaroids a:after {
        content: attr(title);
    }

    ul.polaroids li:nth-child(even) a {
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
    }

    ul.polaroids li:nth-child(3n) a {
        -webkit-transform: none;
        position: relative;
        top: -5px;
        -moz-transform: none;
    }

    ul.polaroids li:nth-child(5n) a {
        -webkit-transform: rotate(5deg);
        position: relative;
        right: 5px;
        -moz-transform: rotate(5deg);
    }

    ul.polaroids li:nth-child(8n) a {
        position: relative;
        right: 5px;
        top: 8px;
    }

    ul.polaroids li:nth-child(11n) a {
        position: relative;
        left: -5px;
        top: 3px;
    }

    ul.polaroids li.messy a {
        margin-top: -400px;
        position: relative;
        left: 160px;
    }

    ul.polaroids li a:hover {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
        position: relative;
        z-index: 5;
    }
</style>