
@{
    ViewData["Title"] = "StatusCode";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<div class="container" style="margin-top:150px;">
    <div class="row text-center">
        <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3 error-main">
            <div class="row">
                <div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
                    <h1 class="txt404 m-0">404</h1>
                    <h6>
                        Üzgünüz, aradığınız sayfaya ulaşamadık...

                    </h6>
                    <p>
                        Yine de iyi haberlerimiz var!
                        <a href="/" class="btn btn-primary btn-lg">
                            <i class="fa fa-home" aria-hidden="true"></i>

                            Anasayfa ya Dönebilirsin
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>


