@model PostAddDto
@{
    ViewData["Title"] = "EklePost";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<form asp-action="AddPost" method="post" class="w-75 mx-auto p-3" enctype="multipart/form-data">

    <div class="form-group">
        <label>Ad :</label>
        <span asp-validation-for="PostTitle" class="text-danger"></span>
        <input type="text" asp-for="PostTitle" class="form-control" />
    </div>
    <div class="form-group">
        <label> Açıklama :</label>
        <span asp-validation-for="@Model.PostContent" class="text-danger"></span>
        <textarea asp-for="PostContent" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label> Kısa Metin (tanıtım yazısı ) :</label>
        <span asp-validation-for="@Model.PostExcerpt" class="text-danger"></span>
        <textarea asp-for="PostExcerpt" class="form-control"></textarea>
    </div>


    <div class="form-group">
        <label>Kategori Seçiniz:</label>
        <span class="text-danger"></span>
        <select class="form-control" name="category" asp-items=" ViewBag.Categories">
            <option hidden value="-1">Seçiniz</option>

        </select>
    </div>


    <div class="form-group">
        <div class="row">
            <div class="col-md-2">

            </div>


            <div class="col-md-4">
                <div id="alanOnizleme" style="display:none!important;">
                    <h5 class="text-center">Seçtiğiniz resim:</h5>
                    <img id="resimOnizleme" src="" class="w-100" style="height:10rem!important;" />
                </div>

            </div>
            <div class="col-md-2">

            </div>

            <div class="col-md-12">
                <label> Resim Seç:</label>
                <input type="file" class="form-control-file" name="picture" id="Picture" />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-info btn-sm postData"><i class="fas fa-check mr-2"></i>Kaydet</button>
</form>

@section JavaScript{
    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/lib/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <script src="~/assets/js/summernote-file.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Picture").change(function (e) {


                $("#alanOnizleme").show();
                $("#resimOnizleme").attr('src', URL.createObjectURL(e.target.files[0]));
            });
        });


        $('#PostContent').summernote({
        height: 500,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true,                  // set focus to editable area after initializing summernote
        callbacks: {
            onImageUpload: function (files) {

                for (let i = 0; i < files.length; i++) {
                    myOwnCallBack(files[i]);
                }
            },

            onFileUpload: function (files) {
                //myOwnCallBack(file[0]);

                        for (let i = 0; i < files.length; i++) {
                           myOwnCallBack(files[i]);
                         //   UploadImage(files[i]);
               }

             },

        },
        toolbar: [
          //  ['insert', ['link', 'picture', 'video', 'file']],
            ['style', ['style']],
            ['font', ['bold', 'italic', 'underline', 'clear']],
            ['fontname', ['fontname']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'hr','file']],
            ['view', ['fullscreen', 'codeview']],
           // ['help', ['help']]
        ],
    });


    function myOwnCallBack(file) {
           var url = '@Url.Action("UploadFile", "Post")';
        formData = new FormData();
        formData.append("aUploadedFile", file);
        $.ajax({
            data: formData,
            type: "POST",
            url: url, //Your own back-end uploader
            cache: false,
            contentType: false,
            processData: false,
            xhr: function () { //Handle progress upload
                let myXhr = $.ajaxSettings.xhr();
                if (myXhr.upload) myXhr.upload.addEventListener('progress', progressHandlingFunction, false);
                return myXhr;
            },
            success: function (FileUrl) {
               // if (reponse.status === true) {
                    let listMimeImg = ['image/png', 'image/jpeg', 'image/webp', 'image/gif', 'image/svg'];
                    let listMimeAudio = ['audio/mpeg', 'audio/ogg'];
                    let listMimeVideo = ['video/mpeg', 'video/mp4', 'video/webm'];
                    let elem;

                    if (listMimeImg.indexOf(file.type) > -1) {
                        //Picture
                        //$('.summernote').summernote('editor.insertImage', reponse.filename);
                        var imgNode = document.createElement('img');
                        imgNode.src = FileUrl;
                        $('#PostContent').summernote('insertNode', imgNode);

                    } else if (listMimeAudio.indexOf(file.type) > -1) {
                        //Audio
                        elem = document.createElement("audio");
                        elem.setAttribute("src", FileUrl);
                        elem.setAttribute("controls", "controls");
                        elem.setAttribute("preload", "metadata");
                        $('#PostContent').summernote('editor.insertNode', elem);
                    } else if (listMimeVideo.indexOf(file.type) > -1) {
                        //Video
                        elem = document.createElement("video");
                        elem.setAttribute("src", FileUrl);
                        elem.setAttribute("controls", "controls");
                        elem.setAttribute("preload", "metadata");
                        $('#PostContent').summernote('editor.insertNode', elem);
                    } else {
                        //Other file type

                        elem = document.createElement("a");
                        let linkText = document.createTextNode(file.name);
                        elem.appendChild(linkText);
                        elem.title = file.name;
                        elem.href = FileUrl;
                        $('#PostContent').summernote('editor.insertNode', elem);
                    }
                }
            //}
        });
    }

    function progressHandlingFunction(e) {
        if (e.lengthComputable) {
            //Log current progress
            console.log((e.loaded / e.total * 100) + '%');

            //Reset progress on complete
            if (e.loaded === e.total) {
                console.log("Upload finished.");
            }
        }
    }


    function UploadImage(file) {
        var url = '@Url.Action("UploadFile", "Post")';
        alert("s");
        formData = new FormData();
        formData.append("aUploadedFile", file);
        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (FileUrl) {
               // alert(FileUrl);
                var imgNode = document.createElement('img');
                imgNode.src = FileUrl;
               // $('#Content').summernote('insertNode', imgNode);
                $('#PostContent').summernote('editor.insertImage', FileUrl);

            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    }

        //$(document).on("submit", ".postData", function (e) {
        //    $("#PostContent").val($('#PostContent').code());
        //    return true;
        //});


        $('.note-codable').on('blur', function () {
            if ($('#PostContent').summernote('codeview.isActivated')) {
                $('#PostContent').summernote('codeview.deactivate');
            }
        });

    </script>

}
