@using Stnc.CMS.Entities.Concrete
@model DekamProjeTeknikDestekTalepHayvanSayisi
@{
    ViewData["Title"] = @ViewBag.GeneralTitle;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.GeneralTitle</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="w-75 mx-auto p-3" asp-action="Create" method="post">
            <div class="card-body">

                <div class="form-group">
                    <label asp-for="Name">Adı * :</label>
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>


            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-check mr-2"></i>Kaydet</button>
                <a href="/Admin/DPTeknikDestekTalepHayvanSayisi/" class="btn btn-danger btn-sm"><i class="fas fa-check mr-2"></i>Listeye Dön</a>
            </div>
        </form>
    </div>
</div>


@section JavaScript{
    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}